<h3 style="background-color: green">{{titulo}}</h3>

<hr/>
<h3>Selector de colores:</h3>
<button (click)="ColorSeleccionado()">Color Seleccionado log</button>
<input type="text" [(ngModel)]="color_seleccionado"/>
<pre 
[style.border]="color_seleccionado=='red'?'15px solid black':'1px solid green'"
[ngClass]="{fondoAzul:color_seleccionado=='blue',
	fondoVerde: color_seleccionado=='green'}"
>


<strong>Color elegido:</strong>
	{{color_seleccionado}}
</pre>
<div [ngStyle]="{
	'background':color_seleccionado,
	'width':'200px',
	'height':'200px',
	'float':'right',
	'margin-right':'69%'
}"></div>
<div style="clear:both"></div>
<hr/>


<br/>
<br/>

<div *ngIf="trabajador_externo == true">
<button (click)="cambiarExterno(false)">Mostrar empleado</button>
<ul >
<li>	{{ trabajadores[0].nombre }}</li>
<li>	{{ trabajadores[0].edad }}</li>
<li>	{{ trabajadores[0].cargo }}</li>
<li *ngIf="trabajadores[0].contratado==true">Empleado Contratado</li>
<li *ngIf="trabajadores[0].contratado==false">Empleado NO Contratado</li>
</ul>
</div>
<div *ngIf="trabajador_externo == false">
<button (click)="cambiarExterno(true)">Mostrar trabajador</button>
<ul >
<li>	{{ empleado.nombre }}</li>
<li>	{{ empleado.edad }}</li>
<li>	{{ empleado.cargo }}</li>
<li *ngIf="empleado.contratado==true">Empleado Contratado</li>
<li *ngIf="empleado.contratado==false">Empleado NO Contratado</li>
</ul>
</div>

<h3> Listado de empleados</h3>
<ul>
	<li *ngFor="let empleado of trabajadores; let i = index ">
	<strong>empleado{{i+1}}:</strong>
		<ul>
			<li>	{{ empleado.nombre }}</li>
	
<li>	{{ empleado.edad }}</li>
<li>	{{ empleado.cargo }}</li>
<li *ngIf="empleado.contratado==true">Empleado Contratado</li>
<li *ngIf="empleado.contratado==false">Empleado NO Contratado</li>
		</ul>
	</li>
</ul>

<hr/>
<h3>Colores switch</h3>

<ul [ngSwitch]="color">
	<li *ngSwitchCase="'red'" [ngStyle]="{'background':color,
	'color':'white',
	'padding':'20px'}">
		Es de color {{color}}
	</li>
	<li *ngSwitchCase="'blue'" [ngStyle]="{'background':color,
	'color':'white',
	'padding':'20px'}">
		Es de color {{color}}
	</li>
</ul>