<h3>
  {{title}}
</h3>
<!--<fruta></fruta>
<empleado></empleado>-->
<hr>
<nav>
	<a [routerLink]="['pagina-principal']" [routerLinkActive]="['activado']">Home</a>
<a [routerLink]="['fruta']"[routerLinkActive]="['activado']">Fruta</a>
<a [routerLink]="['empleado']"[routerLinkActive]="['activado']">empleado</a>
<a [routerLink]="['contacto']"[routerLinkActive]="['activado']">contacto</a>
<a [routerLink]="['coches']"[routerLinkActive]="['activado']">coches</a>
<a [routerLink]="['plantillas']"[routerLinkActive]="['activado']">plantillas</a>
</nav>
<hr>
<router-outlet></router-outlet>
